@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NL:wght@100..400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Inter", sans-serif;
  background-color: rgba(0, 0, 0, 0.983)
  
}
/* header navbar style */
.navbar-container{
  background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(15, 12, 12, 0.794) 100%);
}
.max-div{
  width: 90%;
  margin: 0 auto;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
}
.logo{
  margin-top: 18px;
  margin-left: 50px;
}
.logo-text{
  color: rgb(230, 83, 60);
  font-size: 30px;
  font-weight: 600;
}
.home-btn{
  background-color:rgb(230, 83, 60) ;
  padding: 8px;
  border-radius: 40px;
}
.nav-item a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-left: 30px;

}
.nav-li-item{
display: flex;
padding: 30px;


}
.nav-item li{
  list-style: none;
  flex: 1;

}
.bar{
  display: none;
  padding: 30px;
  color:white
 
}
.nav-item{
  position: relative;
  
}
.round{
  width: 350px;
  height: 45px;
  border: 1px solid rgba(40, 36, 36, 0.725);
  position: absolute;
  border-radius: 48px;
  margin-left: 1012px;
  margin-top: 17px;
}
 
/* banner section css style */
.banner-container{
  display: flex;
 width: 85%;
 margin: 0px auto;
 margin-right: 96px;
 /* border: 1px solid red; */


}
.banner-content{
  width: 48%;
}
.banner-title{
  font-size: 5rem;
  margin-top: 3rem;
  font-weight: 800;
  line-height: 5.9rem;
  color: white;

}
.shape{
  font-family: "Playwrite NL", cursive;
  font-size: 4rem;
  font-weight: 900;
}
.banner-description{
  font-size: 1rem;
  font-weight: 500;
  color: rgba(86, 77, 77, 0.66);
  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
}
.button-container button{
  padding: 10px;
  margin-left: 20px;
  margin-top: 30px;
}
.btn-join{
  background-color: rgb(230, 83, 60);
  color: aliceblue;
  padding: 0.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 2.5rem;
  border: none;
  outline: none;
}
.btn-download{
  background-color: rgb(9, 149, 49);
  padding: 0.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 2.5rem;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.858);
 
}
.banner-image-container{
width: 48%;
}
.workout-video{
  position:absolute;
  margin-top: -450px;
  margin-left: 450px;
  border: 1px solid rgb(112, 115, 112);
  background-color: rgb(246, 0, 0);
  width: 150px;
  height: 80px;
  padding: .4rem;
  border-radius: .5rem;
  background-color: rgba(0, 0, 0, 0.472);
  color: white;
}
.workout-video2{
  position: absolute;
  margin-top: -180px;
  margin-left: 150px;
  border:1px solid rgb(112, 115, 112);
  background-color: rgb(246, 0, 0);
  width: 150px;
  height: 80px;
  padding: .4rem;
  border-radius: .5rem;
  background-color: rgba(0, 0, 0, 0.472);
  color: white;
  }
.circle{
  display: flex;
  justify-content:center;
  align-items: center;
  margin-top: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: chocolate;
}
.circle h5{
  margin-top: 10px;
  margin-left: 100px;
  margin-bottom: 25px;
}
.circle p{
  margin-right: 115px;
  margin-top: 45px;
}
.workout-title{
  font-size: 1rem;
  margin: 10px;
  font-weight: 1200;

}
workout-title1{
  font-weight: 1200;

}
.workout-des2{
  padding-left: 50px;
  margin-bottom: 50px;
  margin-top: -14px;
  font-size: 0.8rem;
}
.workout-des{
  font-size: .7rem;
  font-weight: 400;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}
.banner-image-container{
  position: relative;
}
.banner-image-container img{
  object-fit: cover;
  margin-left: 200px;
  margin-bottom: 1.2rem;
}
/* small or mobile device responsive css */
@media screen and (max-width:576px) {
  .max-div,
  .nav-li-item,.banner-container,button-container{
  flex-direction: column; 
  
  }
  .round{
    display: none;
  }
  .nav-item{
  display: none;
  }
  .bar{
    display: block;
    padding: 30px;
    color:white
   
  }
  .max-div{
    width: 100%; 
    flex-direction: row;
  }
  .max-wid-banner{
    width: 100%;
   
  }
  .nav-li-item{
   gap: 10px;
  }
  .banner-title {
    width: 200px;
    font-size: 2rem;
    margin-top: 1rem;
    margin-left: 48px;
    font-weight: 800;
    line-height: 3rem;
    color: white;
}
.banner-description{
 width: 200px;
 margin-left: 48px;
}
.button-container{
  display: flex;
  width: 319px;
  margin-bottom: 50px;
  margin-left: 9px;
}
.banner-container{
  max-width: 576px;
  width: 100%;
  /* border: 1px solid red; */
}
.shape{
  font-family: "Playwrite NL", cursive;
  font-size: 1rem;
  font-weight: 900;
}
.button-container button{
  padding: 10px;
  margin-left: 20px;
}
.banner-image-container{
  max-width: 576px;
  width: 100%;
  margin-bottom: 50px;
  /* border: 1px solid red; */
}
.banner-image-container img{
  margin-left: 4px;
  
}
.workout-video {
  position: absolute;
  margin-top: -550px;
  margin-left: 200px;
  border: 1px solid rgb(112, 115, 112);
  background-color: rgb(246, 0, 0);
  width: 150px;
  height: 80px;
  padding: .4rem;
  border-radius: .5rem;
  background-color: rgba(0, 0, 0, 0.472);
  color: white;
}
.workout-video2 {
  position: absolute;
  margin-top: -356px;
  margin-left: 18px;
  border: 1px solid rgb(112, 115, 112);
  background-color: rgb(246, 0, 0);
  width: 150px;
  height: 80px;
  padding: .4rem;
  border-radius: .5rem;
  background-color: rgba(0, 0, 0, 0.472);
  color: white;
}


}