@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NL:wght@100..400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Inter", sans-serif;
  background-color: rgba(35,35,35);
  
}
/* header navbar style */
.navbar-container{
  /* background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(15, 12, 12, 0.794) 100%); */
  background-color: rgb(24,24,24);
}
.max-div{
  width: 90%;
  margin: 0 auto;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
}
.logo{
  margin-top: 18px;
  margin-left: 120px;
  cursor: pointer;
}
.logo-text{
  color: rgb(230, 83, 60);
  font-size: 30px;
  font-weight: 600;
}
.home-btn{
  background-color:rgb(230, 83, 60) ;
  padding: 8px;
  border-radius: 40px;

}
.nav-item a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-left: 30px;
  

}
.nav-li-item{
display: flex;
padding: 30px;



}
.nav-item li{
  list-style: none;
  flex: 1;

}
.bar{
  display: none;
  padding: 30px;
  color:white
 
}
.nav-item{
  position: relative;
  
}
.round{
  width: 350px;
  height: 45px;
  border: 1px solid rgba(40, 36, 36, 0.725);
  position: absolute;
  border-radius: 48px;
  margin-left: 1012px;
  margin-top: 17px;
  cursor: pointer;
}
 
/* banner section css style */
.banner-container{
  display: flex;
 width: 85%;
 margin: 0px auto;
 margin-right: 96px;
 /* border: 1px solid red; */


}
.banner-content{
  width: 48%;
}
.banner-title{
  font-size: 5rem;
  margin-top: 3rem;
  font-weight: 800;
  line-height: 5.9rem;
  color: white;

}
.shape{
  font-family: "Playwrite NL", cursive;
  font-size: 4rem;
  font-weight: 900;
}
.banner-description{
  font-size: 1rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
}
.button-container button{
  padding: 10px;
  margin-left: 20px;
  margin-top: 30px;
  cursor: pointer;
}
.btn-join{
  width: 170px;
  height: 50px;
  background-color: rgb(230, 83, 60);
  color: aliceblue;
  padding: 0.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 2.5rem;
  border: none;
  outline: none;
}
.btn-download{
  width: 170px;
  height: 50px;
  background-color: rgb(9, 149, 49);
  padding: 0.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 2.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.858);
 
}
.banner-image-container{
width: 48%;
}
.workout-video{
  position:absolute;
  margin-top: -450px;
  margin-left: 450px;
  border: 1px solid rgb(112, 115, 112);
  background-color: rgb(246, 0, 0);
  width: 150px;
  height: 80px;
  padding: .4rem;
  border-radius: .5rem;
  background-color: rgba(0, 0, 0, 0.472);
  color: white;
  cursor: pointer;
}
.workout-video2{
  position: absolute;
  margin-top: -180px;
  margin-left: 150px;
  border:1px solid rgb(112, 115, 112);
  background-color: rgb(246, 0, 0);
  width: 150px;
  height: 80px;
  padding: .4rem;
  border-radius: .5rem;
  background-color: rgba(0, 0, 0, 0.472);
  color: white;
  cursor: pointer;
  }
.circle{
  display: flex;
  justify-content:center;
  align-items: center;
  margin-top: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: chocolate;
}
.circle h5{
  margin-top: 10px;
  margin-left: 100px;
  margin-bottom: 25px;
}
.circle p{
  margin-right: 115px;
  margin-top: 45px;
}
.workout-title{
  font-size: 1rem;
  margin: 10px;
  font-weight: 1200;

}
workout-title1{
  font-weight: 1200;

}
.workout-des2{
  padding-left: 50px;
  margin-bottom: 50px;
  margin-top: -14px;
  font-size: 0.8rem;
}
.workout-des{
  font-size: .7rem;
  font-weight: 400;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}
.banner-image-container{
  position: relative;
}
.banner-image-container img{
  object-fit: cover;
  margin-left: 200px;
  margin-bottom: 1.2rem;
}
/* habits section style */
.habits-container{
  width: 85%;
  margin: 100px auto;
  /* border: 1px solid red; */
 
}
.habits-title{
  text-align: center;
  color: white;
  font-size: 2.5rem;
  font-weight: 800;
 
}
.habits-desc{
  text-align: center;
  color: white;
  margin-top: 10px;
  font-size: .7rem;
  color: rgba(255, 255, 255, 0.5);
}
.image-title{
  margin-top: 20px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
}
.image-title1{
  margin-top: 20px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
}
.image-title2{
  margin-top: 20px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
}
.image-title3{
  margin-top: 20px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
}
.image-desc{
 padding: 30px;
  text-align: center;
  
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.7rem;
  font-weight: 400;

}
.habit-image-container{
  /* border: 1px solid red; */
  display: flex;
  padding: 40px;
  justify-content: space-between;
  
}
.habits-image img{
  border-radius: 50%;
}
#desk-image1{
 margin-left: 64px;
}
#desk-image2{
  margin-left: 51px;
 }
 #desk-image3{
  margin-left: 55px;
 }
 #desk-image4{
  margin-left: 45px;
 }
 /* run section style */
 .run-container{
  width: 85%;
  margin:0 auto;
  /* border: 1px solid red; */
  border-radius: 20px;
  background-color: rgba(85, 93, 100, 0.558);
  display: flex;
  
 }
 .run-content{
  width: 40%;
  padding: 20px;
  margin: 0 auto;
  /* border: 1px solid red; */
 }
 .run-title{
  font-size: 3.6rem;
  font-weight: 1200;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
 }
 .run-desc{
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 40px;
  margin-top: 20px;
  margin-left: -11px;
 }
 .run-join-btn{
  width: 180px;
  height: 50px;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 2.5rem;
  margin-top: 10px;
  background-color: rgb(230, 83, 60);
  color: aliceblue;
  border: none;
  outline: none;
 }
 .run-image{
  width: 40%;
  padding: 40px;
  /* border: 1px solid red; */
  margin: 0 auto;
 }
 .run-image img{
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
 }
 /* bmi style  */
 .bmi-container{
  width: 100%;
  height: 350px;
  margin: 0 auto;
 
  background-color: rgb(34, 34, 34);
  
  /* border: 1px solid red; */
 }
 .bmi-content{
  width: 50%;
  margin: 0 auto;

  /* border: 1px solid red; */
 }
 .bmi-title{
  font-size: 3rem;
  font-weight: 900;
  margin-top: 40px;
  color: white;
 }
 .bmi-desc{
  font-size: 1rem;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 3rem;
  color: rgba(255, 255, 255, 0.5);
 }
 .bmi-chart-container{
  width: 80%;
  display: flex;
  margin: 0 auto;
  margin-bottom: 50px;
  /* border: 1px solid red; */

  margin-top: 50px;
 }
 .bmi-cal-title{
  color: white;
  
 }
 .bmi-calculate-content{
  width: 50%;

 margin:20px ;

  /* border: 1px solid red; */
  
 }
 .bmi-chart{
  width: 50%;
  margin:20px 20px 20px 56px;
  /* border: 1px solid red; */

 }
 .chart-title{
  margin-bottom: 2rem;
  color: white;
 }
 .bmi-cal-desc{
  color: rgba(255, 255, 255, 0.5);
  margin: 10px 0px 10px 0px;
 }
 input{
  width: 250px;
  height: 35px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 10px;
  margin-top: 10px;
  background-color: rgba(99, 93, 93, 0.743);
 }
 .inp2{
  margin-left: 8px;
 }
 .sex{
  width: 250px;
  height: 35px;
  border-radius: 5px;
  margin-left: 8px;
  background-color: rgba(99, 93, 93, 0.743);
  color:rgba(255, 255, 255, 0.262);
 }
 .factor{
  width: 511px;
  height: 35px;
  border-radius: 5px;
  margin-top: 10px;
  background-color: rgba(99, 93, 93, 0.743);
  color:rgba(255, 255, 255, 0.262);
 }
 table{
  width: 50%;
  height: 50%;
 
 }
 thead{
  color:rgb(255, 255, 255);
  font-size: .9rem;
 }
 thead th{
  text-align: start;
  padding: 8px;
 }
 tr{
  height: 2rem;
 }
 td{
  padding: 8px;
  font-size: .7rem;
  color: rgba(255, 255, 255, 0.5);
 }
 .cal-btn{
  width: 150px;
  height: 40px;
  background-color: rgb(230, 83, 60);
  color: aliceblue;
  padding: 0.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 12px;
  margin-top: 20px;
  border: none;
  outline: none;
 }
 
 /* team css style  */
 .team-container{
  width: 90%;
  margin: 0 auto;
  /* border: 1px solid red; */
 }
 .team-content{
  width: 50%;
  height: 50%;
  margin: 0 auto;
  /* border:1px solid red; */
  text-align: center;color: white;
  margin-bottom: 40px;
 }
 .team-title{
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 29px;
  margin-top: 20px;
 }
 .team-desc{
  font-size:.8rem ;
  color:rgba(255, 255, 255, 0.5);
 }
 .image-main-container{
  background: rgba(216, 210, 210, 0.05);
  width: 67%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  
  /* border: 1px solid red; */
  border-radius: 1rem;
 margin: 0 auto;
 margin-bottom: 10px;
 }
 .team-img{
  
  width: 100%;
  height: 100%;
  margin-left: 10px;
  position: relative;
  
 }
 .img-title{
  position: absolute;
  margin-left: 50px;
  margin-top: -62px;
  font-size: 1rem;
  font-weight: 900;
  color: white;
 }
 .img-tit2{
  position: absolute;
  margin-left: 50px;
  margin-top: -40px;
  font-size: .8rem;
  font-weight: 400;
  color: rgba(216, 210, 210, 0.80);
 }
 .image-main-container img{
  width: 260px;
  height: 235px;
  margin: 15px;
  border-radius: 1rem;
  /* border: 1px solid red;  */
  
 }
 
 .footer-bg{
  background-color: #1A1A1A;
  width: 100%;

 
  /* border: 1px solid red; */
  
 }
 .footer-section-container{
  width: 75%;
  height: 100%;
  margin: 0 auto;
  /* border:1px solid red; */
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 60px;
  
  

 }
 .footer-content{
  /* border:1px solid red; */
  width: 35%;
 }
 .footer-service1{
  /* border:1px solid red; */
  width: 30%;
  margin-left: 15px;
 }
 .footer-service2{
  margin-left: 15px;
  width: 30%;
  /* border:1px solid red; */
 }
 .f-logo{
  font-size: 3rem;
  font-weight: 900;
  margin-top: 30px;
  margin-bottom: 10px;
  color: rgb(230, 83, 60);
  cursor: pointer;
 }
 .logo-desc{
  font-size: .7rem;
  font-weight: 400;
  color:rgba(255, 255, 255, 0.5);
  margin-bottom: 30px;
  margin-right: 30px;
 }
 .footer-sr-title{
  margin-top: 30px;
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 15px;
  margin-right: 30px;
  margin-bottom: 20px;
  color: white;
 }
 .service{
  color:rgba(255, 255, 255, 0.5);
  list-style: none;
 }
 ul li{
  padding: 5px;
  font-size: .8;
  font-weight: 500;
  margin-left: 15px;
  
 }
 li a{
  text-decoration: none;
  color:rgba(255, 255, 255, 0.5);
 }
 hr{
  width: 60%;
  margin:0 auto;
  color: #1a1a1aa4;
  
 }
 .copy{
  height: 50px;
  text-align: center;
  font-size: .9rem;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 30px;
  color:rgba(255, 255, 255, 0.3) ;
 }
 
 

/* small or mobile device responsive css */
@media screen and (max-width:576px) {
  .max-div,
  .nav-li-item,.banner-container,
  .button-container,
  .habit-image-container,
  .run-container,
  .bmi-chart-container,
  .footer-section-container{
  flex-direction: column; 
  
  }
  .banner-content{
    width: 100%;
  }
  .bmi-container{
   width: 90%;
   height: 100%;
  }
  .bmi-chart-container{
   width: 100%;
   /* border: 1px solid red; */
  }
  .team-container,.team-content{
    width: 100%;
    padding: 15px;
  }
  .team-img img{
   border-radius: 8px;
  }
  .footer-content{
    width: 100%;
  }
  .logo-desc{
    
    font-size: .8rem;
    font-weight: 500;
    color:rgba(255, 255, 255, 0.5);
    margin-bottom: 30px;
    margin-left: 24px;
   }
   .footer-service1,.service,footer-service-2{
    width: 100%;
    margin-left: 20px;
   }
   .footer-sr-title{
    margin-top: 20px;
    margin-left: 24px;
   }
  .bmi-chart{
    width: 80%;
    margin: 30px;
    /* border: 1px solid red; */
  }
  .bmi-calculate-content{
    width: 100%;
  
    /* border: 1px solid red; */
  }
  .round{
    display: none;
  }
  .nav-item{
  display: none;
  }
  .bar{
    display: block;
    padding: 26px;
    color:white
   
  }
  .logo{
    margin-top: 18px;
    margin-left: 38px;
    cursor: pointer;
  }
  .max-div{
    width: 100%; 
    flex-direction: row;
  }
  .max-wid-banner{
    width: 100%;
   
  }
  .nav-li-item{
   gap: 10px;
  }
  .team-desc{
   margin: 36px;
  }
  .banner-title {
    width: 230px;
    font-size: 2rem;
    margin-top: 1rem;
    margin-left: 37px;
    font-weight: 700;
    line-height: 3rem;
    color: white;
}
.cal-btn{
width: 187px;
margin-top: 45px;
}
.banner-description{
  width: 225px;
  margin-left: 37px;
 }
 .bmi-cal-desc{
  color: rgba(255, 255, 255, 0.5);
  margin: 10px 22px 22px 0px;
 }
 .button-container{
   width: 385px;
   margin-bottom: 40px;
   margin-left:-12px;
 }
 .banner-container{
   width: 100%;
   /* border: 1px solid red; */
 }
 .team-img{
  height: 100%;
  margin-left: -20px;
  margin-top: -19px;
 }
 .footer-section-container{
  width: 100%;
 }
 .f-logo{
  font-size: 2rem;
  font-weight: 800;
  margin-top: 20px;
  margin-left: 24px;
 }
 .shape{
  font-family: "Playwrite NL", cursive;
  font-size: 1rem;
  font-weight: 900;
}
.button-container button{
  padding: 10px;
  margin-left: 20px;
}
.banner-image-container{
  max-width: 576px;
  width: 100%;
  margin-bottom: 50px;
  /* border: 1px solid red; */
}
.image-main-container img{
  width: 100%;
  height: 85%;
  padding: 20px;
  border-radius: 10px;
}


.banner-image-container img{
  margin-left: 4px;
  
}
.workout-video {
  position: absolute;
  margin-top: -550px;
  margin-left: 200px;
  border: 1px solid rgb(112, 115, 112);
  background-color: rgb(246, 0, 0);
  width: 150px;
  height: 80px;
  padding: .4rem;
  border-radius: .5rem;
  background-color: rgba(0, 0, 0, 0.472);
  color: white;
}
.workout-video2 {
  position: absolute;
  margin-top: -356px;
  margin-left: 18px;
  border: 1px solid rgb(112, 115, 112);
  background-color: rgb(246, 0, 0);
  width: 150px;
  height: 80px;
  padding: .4rem;
  border-radius: .5rem;
  background-color: rgba(0, 0, 0, 0.472);
  color: white;
}
.habits-container{
  width: 100%;
  /* border: 1px solid red; */
  margin-bottom: 100px;
}
.habits-desc{
  font-size: 1rem;
  padding: 20px;
}
.habit-image-container{
  margin:0px;
 /* border: 1px solid red; */
}
#desk-image1{
  margin-left: 71px;
}
#desk-image2{
  margin-left: 68px;
}
#desk-image3{
  margin-left: 71px;
}
#desk-image4{
  margin-left: 73px;
}
.habits-image h5{
margin-left: -18px;
}
.habits-image p{
  font-size: 1rem;
  margin-left: 2px;
  margin-bottom: 30px;
  font-weight: 400;
  text-align: center;

}
.run-container{
  width: 90%;
  /* border: 1px solid red; */
  margin: 0 auto;
  padding: 20px;
}
.run-content{
  width: 100%;
  margin: 0 auto;
  /* border: 1px solid red; */
}
.run-image{
  width: 100%;
  margin-left: -12px;
 }
 .run-title{
  font-size: 2rem;
  font-weight: 600;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: -12px;
 }
 .run-join-btn{
  width: 250px;
  height: 50px;
  margin-left:-6px;
  
 }
 .bmi-content{
  width: 90%;
  /* border: 1px solid red; */
 }
 .bmi-title{
  font-size: 2rem;
  margin-left: 25px;
 }
 .bmi-desc{
  font-size: 1rem;
  width: 80%;
  margin-left: 30px;
  /* border: 1px solid red; */
 }
 input,.sex,.inp2{
  width: 143px;
  height: 35px;
  /* border: 1px solid red; */
 }
 .factor{
  width: 297px;
  height: 35px;
  /* border: 1px solid red; */
 }
 .bmi-chart-title{
  font-size: 1rem;
 }
 table{
  width: 272px;
 }
 .image-main-container{
  grid-template-columns: 1fr;
  width: 100%;
 }
}



